* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background: none;
}

body {
    background-color: #FEBB41;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    padding: 120px 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    width: 100%;
    margin-top: 37px;
    gap: 85px;
}

a {
    text-decoration: none;
    color: #000000;
}

.wrapper {
    border-radius: 24px;
    background: linear-gradient(305deg, #F4ECE1 57.1%, #FCFBF7 145.5%);
    max-width: 1511px;
    width: 100%;
    padding: 39px 15px 38px 87px;
    margin: 0 auto;
}


.logo_href {
    font-size: 32px;
    font-weight: 600;
    line-height: 45px;
    margin-left: 4px;
}

.navigation {
    display: flex;
    gap: 56px;
}

.navigation a {
    font-size: 22px;
    font-weight: 400;
    line-height: 21px;
}

.search {
    display: flex;
    padding: 8px 18px 8px 41px;
    border-radius: 30px;
    background: rgba(255, 249, 240, 0.10);
    box-shadow: 0px 12px 40px -16px rgba(0, 0, 0, 0.10);
    color: #000000;
}

.search input {
    outline: none;
    font-size: 22px;
    font-weight: 400;
    line-height: 21px;
    margin: 13px 20px;
    border-right: 1px solid rgba(148, 140, 140, 0.31);
}

.cart {
    display: flex;
    position: relative;
    margin: 8px 10px;
}

.cart span {
    display: flex;
    background-color: #EC2633;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 400;
    line-height: 9px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -7px;
    left: 15px;
}

.left_content {
    width: 568px;
}

.h_group {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-top: 152px;
}

.h_group h1 {
    color: #2F2F2F;
    font-size: 52px;
    font-weight: 700;
    line-height: 49px;
}

.h_group h2 {
    color: #FF7E00;
    font-size: 125px;
    font-weight: 700;
    line-height: 119px;
}

.h_discription {
    color: #909090;
    font-size: 22px;
    font-weight: 400;
    line-height: 31px;
    margin-top: 24px;
}

.btn_group {
    display: flex;
    margin-top: 69px;
    align-items: center;
}

.btn_order {
    border-radius: 84px;
    background: #2F2F2F;
    box-shadow: 0px 20px 32px -8px rgba(0, 0, 0, 0.20);
    padding: 25px 41px;
    color: #F4ECE1;
    font-size: 20px;
    font-weight: 600;
    line-height: 19px;
}

.btn_watch {
    width: 57px;
    height: 57px;
    border-radius: 100%;
    background-color: #FFFFFF;
    align-items: center;
    padding-top: 10px;
    padding-left: 6px;
    text-align: center;
    font-size: 27px;
    margin-left: 28px;
}

.btn_group p {
    color: #2F2F2F;
    font-size: 20px;
    font-weight: 600;
    line-height: 19px;
    margin-left: 11px;
}

.raiting {
    margin-top: 69px;
}

.raiting_stars {
    display: flex;
    gap: 2px;
    font-size: 18px;

    line-height: 25px
}

.raiting p {
    color: #2F2F2F;
    font-weight: 600;
    margin-top: 11px;
}

.raiting p span {
    color: #909090;
    font-weight: 300;
}