* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    background-color: #FEBB41;
}

body {
    border-radius: 24px;
    background: linear-gradient(305deg, #F4ECE1 57.1%, #FCFBF7 145.5%);
    width: 1511px;
    height: 886px;
    margin: 121px 362px 120px 190px;
}
a{
    text-decoration: none;
}
a:visited{
    color: #000000;
}
a:hover{
    border-bottom: 2px solid #000000;
}
header {
    display: flex;
    align-items: baseline;
    padding-top: 39px;
    padding-left: 87px;
}

.logo {
    
}

.logo>span {
    color: #000000;
    font-size: 32px;
    font-weight: 600;
    line-height: 139.8%;
}

.logo>img {
    margin-right: 4px;
}

.navigation_list {
    margin-left: 352px;
}

.ul_list {
    display: flex;
    gap: 56px;
    list-style: none;
    color: #000000;
    font-size: 22px;
    font-weight: 400;
    line-height: 94.8%;
}

.search_form {
    display: flex;
    align-items: baseline;
    margin-left: 160px;
}
.search_logo{
}
.search {
    width: 314px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(255, 249, 240, 0.10);
    box-shadow: 0px 12px 40px -16px rgba(0, 0, 0, 0.10);
    border: none;
    font-size: 22px;
    font-weight: 400;
    line-height: 94.8%;
    padding-left: 13px;
}

.search:focus {
    outline: 2px solid #000000;
    
}
